<div id = "home">
<h3>Recent feeds</h3>
<div class="notice"
<p>Note: Images and Names mentioned are coincidental and does not serve any representations. All names and images will be removed immediately after project demostration (Web Development Course).</p>
</div>

<h2 class="current-category"><%= params[:category] %></h2>

<%if @products.count == 0%>

<h4>No entries in this category</h4>

<%else%>

<div class="row">
<% @products.each do |product| %>
<div class="col-md-3">
<a href="/products/<%= product.id %>">
  <%=image_tag product.product_img.url(:product_index), class: "product"%>
  <p><%= product.subject %></p>
</a>
</div>
<% end %>
</div>
<% end %>

</div>
